<% include partials/_header %>
<!-- 
<div class="col-md-4 mt-4 ml-5">
        <div class="card ml-4">
            <div class="card-body">
                <form action="/employee/add" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <p class="font-weight-bold text-dark lead pl-1" name="employee_name" placeholder="Employee Name" 
                            required>Name</p>
                    </div>
                    <div class="form-group">
                            <button name="employee_name" placeholder="Employee Name" class="btn btn-dark pt-5 pb-5"
                                required>Picture</button>
                    </div>
                    <div class="form-group row justify-content-start">
                        <p class="col-4 font-weight-bold text-dark pt-2 pl-1">
                            Gender :
                        </p>
                        <p class="col-4 font-weight-bold text-dark pt-2 pl-1">
                            Name
                        </p>
                    </div>
                </form>
            </div>
        </div>
</div>         -->

<div class="container">
    <div class="row mt-5">
        <div class="col-md-8">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">No</th>
                        <th class="text-center">Employee Name</th>
                        <th class="text-center">Gender</th>
                        <th class="text-center">Birthday</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++ ){%>
                    <tr>
                        <td class="text-center"><%= (i + 1) %></td>
                        <td class="text-center"><%= data[i].employee_name%></td>
                        <td class="text-center"><%= data[i].employee_gender%></td>
                        <td class="text-center"><%= data[i].employee_birthday%></td>
                        <td class="text-center">
                            <a href="/employee/view/" class="btn btn-info ">View</a>
                            <a href="/employee/delete/<%= data[i].employee_id %>" class="btn btn-danger mt-2">Delete</a>
                            <a href="/employee/update/<%= data[i].employee_id %>" class="btn btn-success mt-2">Update</a>
                        </td>
                    </tr>
                    <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form action="/employee/add" method="post" enctype="multipart/form-data" >
                        <div class="form-group">
                            <input type="text" name="employee_name" placeholder="Employee Name" class="form-control"
                                required>
                        </div>
                        <div class="form-check form-check-inline ml-2">
                            <label class="mt-1" for="exampleFormControlInput1">Gender</label>
                            <input name="employee_gender" id="employee_gender" class="form-check-input ml-3" type="radio">
                            <label class="form-check-label" for="inlineRadio1">Male</label>
                            
                            <input name="employee_gender" id="employee_gender" class="form-check-input ml-3" type="radio">
                            <label class="form-check-label" for="inlineRadio2">Female</label>
                        </div>
                        <div class="form-group mt-2">
                            <div class='input-group date' id='employee_birthday'>
                                <input type='date' name="employee_birthday" class="form-control" placeholder="Birthday"
                                    required />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                        <div class="custom-file mt-2">
                            <input type="file" class="form-control-file upload-image" id="image" name="employee_picture"
                                accept="image/*" for="content_image" required />
                            <label class="custom-file-label" for="image">Picture</label>
                        </div>

                        <div class="form-group mt-5">
                            <input type="number" name="employee_phone" placeholder="Phone" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Save Employee</button>
                    </form>




                </div>
            </div>

        </div>
    </div>
</div>

<% include partials/_footer %>